<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   
  </head>

  <body>

<div class="top-bar">
  
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong><%= link_to "PRAC", root_path %></strong>
  </div>
  
  <div id="responsive-menu">

    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">First</a>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Two</a></li>

          <%= search_form_for @q  do |f| %>
                  <li><%= f.text_field :job_description_cont, class: "radius-left expand", placeholder: "" %></li>
                  <div class="large-4 small-3 columns">
                    <li><%= f.submit "Search", class: "radius-right button"%></li>
                  </div>
              <% end %>
        
      </ul>

            


    </div>

    <div class="top-bar-right">
        <% if user_signed_in? %>
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <%= link_to current_user.first_name, edit_user_registration_path %>
                  <ul class="menu vertical">
                    <li><%= link_to "Profile", profile_path %></li>
                    <li><%= link_to "My Jobs", jobs_path %></li>
                    <li><a href="#">Settings</a></li>
                  </ul>
              
              </li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            </ul>  
        <% else %>
          <ul class="menu">
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          </ul>
        <% end %>
     </ul>
    </div>


      
    </div>
    </div>
    </div>
</div>

  <div class="container">  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

</div>






 <!---Scripts-->
  <script>
    $(document).foundation();
  </script>

  </body>
</html>
