<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   
  </head>

  <body>

<div class="top-bar">
  
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong><a href="/root_path">Gidget</a></strong>
  </div>
  
  <div id="responsive-menu">

    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">First</a>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Two</a></li>
        <% if user_signed_in? %>
          <li><%= link_to current_user.first_name, edit_user_registration_path %></a></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
      <li><a href="/users/sign_up">Create Account</a></li>
      <li><a href="/users/sign_in">Login</a></li>
     </ul>
    </div>

    <div class="top-bar-left">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>

    </div>
    </div>
    </div>
</div>








<div class="container">  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>

</div>






 <!---Scripts-->
  <script>
    $(document).foundation();
  </script>

  </body>
</html>
